body {
    background: url(../Images/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Ubuntu', sans-serif;

}

.container {
    margin: 0 auto;
}

.logo {
    margin-left: 80px;
}

.navigation_items {
    margin-right: 80px;
    display: flex;
    align-items: center;
    gap: 0 25px;
}

.header_container {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
    margin-bottom: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header_container:hover {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.header_line {
    width: 1px;
    height: 19px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    margin-left: 144px;
}

.header_signs {
    margin-left: 30px;
    color: #FFFFFF;
}


.header_a:hover {
    color: #01813F;
}

.header_a {
    color: #FFFFFF;
}

.logo_sign {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.icons:hover {
    fill: #01813F;
}

.main_container {
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
    left: 50%;
    top: calc(50% + 29px);
    transform: translate(-50%, -50%);
}


.content_box {
    width: 322px;
    margin: 0 auto;
    position: relative;
}

.upper_main_box {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 15px;
}

.main_signup {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.main_login {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.main_login:hover {
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}

.quad {
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 31px;
    left: -61px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 32px;
}

.facebook {
    width: 160px;
    height: 48px;
    background: #305DB8;
    position: relative;
    border-radius: 5px;
}

.facebook:hover {
    background: #022263;
}

.facebook_picture {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    top: 12px;
    left: 17px;
}


.facebook_sign {
    position: absolute;
    top: 5px;
    left: 50px;
}

.facebook_line {
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    top: 75px;
    left: 48px;
    z-index: 1;
}

.google {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    position: relative;
    border-radius: 5px;
}

.google:hover {
    background: rgba(171, 31, 9, 1);
}

.google_picture {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    top: 16px;
    left: 17px;
}

.google_sign {
    position: absolute;
    top: 0px;
    left: 60px;
}

.google_line {
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    top: 75px;
    right: 102px;
    z-index: 1;
}

.or {
    position: relative;
    margin-bottom: 11px;
}

.main_or {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    display: flex;
    justify-content: center;
}

.main_or::before {
    content: '';
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    ;
    position: absolute;
    top: 7px;
    left: -3px;
}

.main_or::after {
    content: '';
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 7px;
    left: 173px;
}

.firstname {
    width: 322px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 16px;
    padding-left: 19px;
    color: rgba(190, 190, 190, 1);

}

.focus:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.secondname {
    width: 322px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 19px;
    color: rgba(190, 190, 190, 1);
    margin-bottom: 16px;
}

.email {
    width: 322px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 19px;
    color: rgba(190, 190, 190, 1);
    margin-bottom: 16px;
}

.password {
    width: 322px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 19px;
    color: rgba(190, 190, 190, 1);
    margin-bottom: 16px;
}

.checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 470px ;
    left: 0;
    opacity: 1;
}

.checkbox_sign {
    position: absolute;
    top: 472px;
    left: 35px;
}

/* .checkbox_sign::before {
    content: '';
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    line-height: 20px;
    cursor: pointer;
    top: 5px;
    left: -5px;
} */



.form_button {
    margin-top: 35px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_button_sign {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.form_button:hover {
    background: #01813F;
    cursor: pointer;
}

